@font-face {
    src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
    font-family: sf-pro;
}

:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --header-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    --input-border-color: #ccc;
    --active-color: #0f712a;
    --failed-color: rgba(240, 58, 58, 0.9);
}
* {
    box-sizing: border-box;
    font-family: sf-pro;
}

body {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button:hover {
    cursor: pointer !important;
}
button {
    background-color: transparent;
    border: none;
}

.fade-in {
    position: relative;
    animation: fade-in 0.3s ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
